<%# NAVBAR %>
<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg);">
  <div class="container">
    <h1>Plan your next chill sesh</h1>
    <p>Save and share your favorite movies</p>
    <a class="btn btn-warning" href="#">Start Here</a>
  </div>
</div>
<%# CARDS %>
<h2 class="text-center">Pick a Movie List</h2>
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "text-dark text-decoration-none" do %>
      <div class="card">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, alt: list.name %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "Add a new movie list", new_list_path %>
