<nav data-controller="navbar" class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="#">MyApp</a>
    </div>
    <!-- Menu toggle button for mobile -->
    <button class="navbar-toggle" data-action="click->navbar#toggle">
      ☰
    </button>
    <!-- Links -->
    <div class="accordion-content navbar-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Movies</a></li>
      </ul>
    </div>
  </div>
</nav>
